extends ./layout/_admin.pug

block content
  
  .admin-wrap
    .container.is-fluid
      
      h4.h4 Dashboard
      //- h2
      br
      .row.flex-wrap
        .col-lg-4.order-lg-1
          .row.key-details.flex-wrap.dashboard
            .col
              .wrap
                .icon
                  i.fas.fa-dollar-sign
                //- icon
                .card-title Total Fees
                label.display-5#totalFees $1,914
              //- wrap
            //- column
            .col
              .wrap
                .icon
                  i.fas.fa-bell
                //- icon
                .card-title Total Due
                label#totalDue $2,472
              //- wrap
            //- column
          //- row
          br
          p.h6 Due Notices
          .timeline-scroll
            .timeline
              .item.latest
                .row
                  .col
                    .amount $641.00
                  //- col
                  .col.text-right
                    .date 10/11/12
                  //- col
                //- row
                .notice
                  a(href="") Lot_1_-_Due_Notice_-_18-04-2018_-_6163.pdf
                //- notice
              //- item
              .item
                .row
                  .col
                    .amount $278.00
                  //- col
                  .col.text-right
                    .date 10/11/12
                  //- col
                //- row
                .notice
                  a(href="") B33-2013-09-09BODY-CORPORATE-ID-20008.PDF
                //- notice
              //- item
              .item.end
                .text-muted Looks like you've reached the end
              //- item
            //- timeline
          //- timeline-scroll
          .fender
          br
        //- col
        .col
          //- p.h6 My Properties
          .row.flex-wrap.my-properties
            .col-md-6.item
              .card
                .image(style="background-image: url(https://t-ec.bstatic.com/xdata/images/hotel/max1024x768/68742148.jpg?k=135516c68b31a9be0ae85510d29f3f2474e238d723dfe76dd0259ce6c849a564&o=)")
                .details
                  .name 1 - Church St Hokowhitu NSW Australia
                  .row
                    .col
                      .fees
                        span.text-muted.mr-2 Fees
                        strong.val-fees $617.40
                      //- fees
                      .paid-to
                        span.text-muted.mr-2 Paid to
                        strong 13/04/2018
                      //- paid-to
                    //- col
                    .col
                      .total-due
                        span.text-muted.mr-2 Total Due
                        strong.val-due $1,039.00
                      //- total-due
                      .by
                        span.text-muted.mr-2 By
                        strong Ashley Jones
                      //- by
                    //- col
                  //- row
                  .next-agm
                    table.agm
                      tr
                        td(valign="top")
                          span.text-muted.mr-1 Next AGM :
                        //- td
                        td
                          strong.mr-2 AGM Name
                          span.mr-2 at
                          strong.date 10/11/12
                        td
                      //- tr
                    //- agm
                  //- next-agm
                //- details
              //- card
            //- col
            .col-md-6.item
              .card
                .image(style="background-image: url(https://t-ec.bstatic.com/xdata/images/hotel/max1024x768/68744176.jpg?k=c0a3d670a1668f681d5d2f496e1061a229c574969c076e6c979e179e08ee0e46&o=)")
                .details
                  .name 99 - Church St Hokowhitu NSW
                  .row
                    .col
                      .fees
                        span.text-muted.mr-2 Fees
                        strong.val-fees $210.60
                      //- fees
                      .paid-to
                        span.text-muted.mr-2 Paid to
                        strong N/A
                      //- paid-to
                    //- col
                    .col
                      .total-due
                        span.text-muted.mr-2 Total Due
                        strong.val-due $856.00
                      //- total-due
                      .by
                        span.text-muted.mr-2 By
                        strong Ashley Jones
                      //- by
                    //- col
                  //- row
                  .next-agm
                    table.agm
                      tr
                        td(valign="top")
                          span.text-muted.mr-1 Next AGM :
                        //- td
                        td
                          strong.mr-2 AGM Name
                          span.mr-2 at
                          strong.date 10/11/12
                        td
                      //- tr
                    //- agm
                  //- next-agm
                //- details
              //- card
            //- col
            .col-md-6.item
              .card
                .image(style="background-image: url(https://a0.muscache.com/im/pictures/79452273/12bc436d_original.jpg?aki_policy=xx_large)")
                .details
                  .name 1 - Church St Hokowhitu NSW Australia
                  .row
                    .col
                      .fees
                        span.text-muted.mr-2 Fees
                        strong.val-fees $128.00
                      //- fees
                      .paid-to
                        span.text-muted.mr-2 Paid to
                        strong 13/04/2018
                      //- paid-to
                    //- col
                    .col
                      .total-due
                        span.text-muted.mr-2 Total Due
                        strong.val-due $256.00
                      //- total-due
                      .by
                        span.text-muted.mr-2 By
                        strong Ashley Jones
                      //- by
                    //- col
                  //- row
                  .next-agm
                    table.agm
                      tr
                        td(valign="top")
                          span.text-muted.mr-1 Next AGM :
                        //- td
                        td
                          strong.mr-2 AGM Name
                          span.mr-2 at
                          strong.date 10/11/12
                        td
                      //- tr
                    //- agm
                  //- next-agm
                //- details
              //- card
            //- col
            .col-md-6.item
              .card
                .image(style="background-image: url(https://a0.muscache.com/im/pictures/79452893/eaf08fdd_original.jpg?aki_policy=x_large)")
                .details
                  .name Church St Hokowhitu NSW Australia
                  .row
                    .col
                      .fees
                        span.text-muted.mr-2 Fees
                        strong.val-fees(id="rodan") $958.00
                      //- fees
                      .paid-to
                        span.text-muted.mr-2 Paid to
                        strong N/A
                      //- paid-to
                    //- col
                    .col
                      .total-due
                        span.text-muted.mr-2 Total Due
                        strong.val-due $321.00
                      //- total-due
                      .by
                        span.text-muted.mr-2 By
                        strong Ashley Jones
                      //- by
                    //- col
                  //- row
                  .next-agm
                    table.agm
                      tr
                        td(valign="top")
                          span.text-muted.mr-1 Next AGM :
                        //- td
                        td
                          strong.mr-2 AGM Name
                          span.mr-2 at
                          strong.date 10/11/12
                        td
                      //- tr
                    //- agm
                  //- next-agm
                //- details
              //- card
            //- col
          //- row
          br
      //- row
    //- container
  //- section

block scripts
  script.
    
