extends ./layout/_admin.pug

block content
  
  .admin-wrap
    .container.is-fluid
      
      h4.h4 Dashboard
      //- h2
      br
      .row.flex-wrap
        .col-lg-4.order-lg-1
          p.h6 Next AGM
          .timeline-scroll
            .timeline
              .item.latest
                .title AGM Name
                .date 10/11/12
              //- item
              .item
                .title AGM Name
                .date 10/11/12
              //- item
              .item
                .title AGM Name
                .date 10/11/12
              //- item
              .item
                .title AGM Name
                .date 10/11/12
              //- item
              .item
                .title AGM Name
                .date 10/11/12
              //- item
              .item.end
                .text-muted Looks like you've reached the end
              //- item
            //- timeline
          //- timeline-scroll
          .fender
          br
        //- col
        .col
          .row.key-details.flex-wrap
            .col
              .wrap
                .icon
                  i.fas.fa-dollar-sign
                //- icon
                .card-title Total Fees
                label.display-5 $617.40
              //- wrap
            //- column
            .col
              .wrap
                .icon
                  i.fas.fa-bell
                //- icon
                .card-title Total Due
                label $717.40
              //- wrap
            //- column
          //- row
          br
          p.h6 My Properties
          .card.is-size-8.--membership-details.small
            .table-responsive
              table.table.mb-0.table-hover
                thead
                  tr
                    th Property Name
                    th Fees
                    th Paid To
                    th Total Due
                    th Managed by
                  //- tr
                //- thead
                tbody
                  tr
                    td
                      a.text-muted(href="property-details.html") 1 - Church St Hokowhitu NSW Australia
                    td $617.40 
                    td 13/04/2018
                    td $0.00
                    td Ashley Jones
                  //- tr
                  tr
                    td
                      a.text-muted(href="property-details.html") JONOTEST - Church St Hokowhitu NSW Australia
                    td $0.00 
                    td N/A
                    td $717.40
                    td Ashley Jones
                  //- tr
                //- tbody
              //- table
            //- table-responsive
          //- card
          br
          p.h6 Due Notices
          .card.is-size-8.--membership-details.small
            .table-responsive
              table.table.mb-0
                thead
                  tr
                    th Notice
                    th Amount
                    th Date
                  //- tr
                //- thead
                tbody
                  tr
                    td
                      a(href="") Lot_1_-_Due_Notice_-_18-04-2018_-_6163.pdf
                    //- td
                    td $0.00
                    td 10/11/12
                  //- tr
                  tr
                    td
                      a(href="") B33-2013-09-09BODY-CORPORATE-ID-20008.PDF
                    //- td
                    td $0.00
                    td 10/11/12
                  //- tr
                  tr
                    td
                      a(href="") Lot_1_-_Due_Notice_-_18-04-2018_-_6163.pdf
                    //- td
                    td $0.00
                    td 10/11/12
                  //- tr
                  tr
                    td
                      a(href="") B33-2013-09-09BODY-CORPORATE-ID-20008.PDF
                    //- td
                    td $0.00
                    td 10/11/12
                  //- tr
                //- tbody
              //- table
            //- table-responsive
          //- card
          br
        //- col
      //- row
    //- container
  //- section

block scripts
  script.
    
