footer.footer
  .container
    .row.text-center
      .col-md-7.text-md-left
        p
          a(href='') Strata Portal Home
          a(href='') Login
          a(href='') Register
          a(href='') Terms and Conditions
          a(href='') Privacy Policy
          a(href='') Contact Us
        //- p
        small v 18.02 Build 20180221
      //- column
      .col.text-md-right
        img(src='assets/images/logo-piq.png', alt='Corelogic', width='150')
      //- column
    //- columns
  //- container
//- footer
