header
  nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top
    .container
      a.navbar-brand(href='#')
        span.navbar-item
          img(src='assets/images/logo-piq.png', alt='PIQ Strata')
        //- span
      //- a
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      //- button
      #navbarColor01.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#') Strata Members
          //- li
          li.nav-item
            a.nav-link(href='#') Strata Managers
          //- li
        //- ul
        form.form-inline.ml-lg-3
          button.btn.btn-outline-danger.my-2.my-sm-0(type='submit') Log in
        //- form
      //- collapse
    //- container
  //- nav
//- header
